---
---
<!DOCTYPE html>
<html>
  <head>
    <title>{{ site.name }}</title>
    {% include head.html %}
  </head>
  <body>
    {% include nav.html %}
    <main class="container-fluid">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          {% for post in site.posts %}
          <article style="padding: 5px 0">
            <h3>{{ post.title }}</h3>
            <time datetime="{{ page.date | date: "%Y-%m-%d"}}"
              pubdate="pubdate" class="small text-muted">
              {{ post.date | date: "%Y-%m-%d" }}
            </time>
            <div>
              <div class="well well-sm" style="margin-bottom: 0px">{{ post.excerpt }}</div>
              <div><a href="{{ site.baseurl }}{{ post.url }}">Read the full article<span class="glyphicon glyphicon-menu-right"></span></a></div>
            </div>
          </article>
          {% endfor %}
        </div>
      </div>
    </main>
  </body>
</html>
