---
---
<!DOCTYPE html>
<html>
  <head>
    <title>{{ site.name }}</title>
    {% include head.html %}
  </head>
  <body>
    {% include nav.html %}
    <main class="container-fluid">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          {% for post in site.posts %}
          <article>
            <h3>{{ post.title }}</h3>
            <time datetime="{{ page.date | date: "%Y-%m-%d"}}"
              pubdate="pubdate" class="small text-muted">
              {{ post.date | date: "%Y-%m-%d" }}
            </time>
            <div>
              {{ post.excerpt }}
              <a href="{{ post.url }}">Read the full article</a>
            </div>
          </article>
          {% endfor %}
        </div>
      </div>
    </main>
  </body>
</html>
