<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    {% include head.html %}
  </head>
  <body>
    {% include nav.html %}
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-2">
          {% if page.series %}
            {% assign series = "" | split: "," %}
            {% for post in site.posts reversed %}
              {% if post.series == page.series %}
                {% if post.url == page.url %}
                  {% assign index = series | size %}
                {% endif %}
                {% assign series = series | push: post %}
              {% endif %}
            {% endfor %}
            <div><i>{{ page.series }}</i> ({{ index }}/{{ series | size }})</div>
            {% for post in series %}
              {% capture description %}Part {{ forloop.index0 }}: {{ post.title }}{% endcapture %}
              <li>
                {% if forloop.index0 == index %}
                  {{ description }} (current)
                {% else %}
                  <a href="{{ site.baseurl }}{{ post.url }}">{{ description }}</a>
                {% endif %}
              </li>
            {% endfor %}
          {% else %}
            {% for post in site.posts limit:10 %}
              <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
            {% endfor %}
          {% endif %}
        </div>
        <main class="col-md-10">
          <article>
            <h1>{{ page.title }}</h1>
            <time datetime="{{ page.date | date: "%Y-%m-%d"}}"
              pubdate="pubdate" class="small text-muted">
              {{ page.date | date: "%Y-%m-%d" }}
            </time>
            {{ content }}
          </article>
        </main>
      </div>
    </div>
  </body>
</html>
